@model IEnumerable<CourseWorkThirdLevel.User>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Имя юзера</h3>
    <p>@ViewBag.Id</p>
    @Html.ActionLink("Профиль","GetProfile","Profile", new { Id= ViewBag.Id}, null)
</div>