@model IEnumerable<CourseWorkThirdLevel.User>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Имя юзера</h3>
    <table>
        @foreach (CourseWorkThirdLevel.User u in Model)
        {
            <tr>
                <td><p>@u.FirstName</p></td>
            </tr>
                }
        </table>
    </div>